<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="main">
        <div class="header-1">
            <div class="blue">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-google-plus-g"></i>
            </div>
            <div class="need">
                <span class="help">needhelp@gmail.com</span>
                <p class="num">
                    666 7475 25252
                </p>
            </div>
            <div class="login">
                <i class="fa-regular fa-user"></i><span style="margin-left: 9px;">Login</span>
                <i class="fa-solid fa-lock" style="margin-left: 20px;"></i><span style="margin-left: 10px;">Register</span>
            </div>
        </div>
        <hr style="color: rgb(178, 178, 178);">
        <div class="header">
            <div class="gray">
               <a href="#"> <img src="image/logo.png.webp" width="100%" alt=""></a>
            </div>
            <div class="nav">
                <ul>
                <li><a href="#">Home</a></li>
                <li ><a href="#">About</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Instructors</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="search">
                <input type="search" class="axtar" placeholder="Search courses">
                <div class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
        <div class="background">
            <div class="back">
                <div class="back-1">
                    <p class="online">Populyar Online Courses</p>
                    <h1>The New Way To</h1>
                    <h1>Learn Properly in</h1>
                    <h1>With Us!</h1>
                    <div class="button">
                        <button class="get">Get Started</button>
                    </div>
                </div>
                <div class="back-2">
                    <img src="image/heroman.png.webp" height="740px" alt="">
                </div>
            </div>
            
        </div>
        <div class="container">
            <p class="online-1">Populyar Online Courses</p>
            <h1 style="font-size: 3em;padding: 20px;">Lets Brows All Catagori</h1>
            <div class="card">
                <div class="card-1">
                    <i class="fa-solid fa-image"></i>
                    <h2>Web Design</h2>
                    <span style="display: block;">Lorem ipsum dolor sit amet</span>
                    <span style="display: block;">Lorem ipsum dolor sit amet.</span>
                    <span style="display: block; margin-left: -40px;" class="dord">Lorem ipsum dolor sit.</span>
                    <p><a href="#">Read more <i class="fa-solid fa-greater-than"></i></a></p>
                </div>
                <div class="card-1">
                    <i class="fa-solid fa-image"></i>
                    <h2>Web Design</h2>
                    <span style="display: block;">Lorem ipsum dolor sit amet</span>
                    <span style="display: block;">Lorem ipsum dolor sit amet.</span>
                    <span style="display: block; margin-left: -40px;" class="dord">Lorem ipsum dolor sit.</span>
                    <p><a href="#">Read more <i class="fa-solid fa-greater-than"></i></a></p>
                </div>
                <div class="card-1">
                    <i class="fa-solid fa-image"></i>
                    <h2>Web Design</h2>
                    <span style="display: block;">Lorem ipsum dolor sit amet</span>
                    <span style="display: block;">Lorem ipsum dolor sit amet.</span>
                    <span style="display: block; margin-left: -40px;" class="dord">Lorem ipsum dolor sit.</span>
                    <p><a href="#">Read more <i class="fa-solid fa-greater-than"></i></a></p>
                </div>
            </div>
            <div class="card">
                <div class="card-1">
                    <i class="fa-solid fa-image"></i>
                    <h2>Web Design</h2>
                    <span style="display: block;">Lorem ipsum dolor sit amet</span>
                    <span style="display: block;">Lorem ipsum dolor sit amet.</span>
                    <span style="display: block; margin-left: -40px;" class="dord">Lorem ipsum dolor sit.</span>
                    <p><a href="#">Read more <i class="fa-solid fa-greater-than"></i></a></p>
                </div>
                <div class="card-1">
                    <i class="fa-solid fa-image"></i>
                    <h2>Web Design</h2>
                    <span style="display: block;">Lorem ipsum dolor sit amet</span>
                    <span style="display: block;">Lorem ipsum dolor sit amet.</span>
                    <span style="display: block; margin-left: -40px;" class="dord">Lorem ipsum dolor sit.</span>
                    <p><a href="#">Read more <i class="fa-solid fa-greater-than"></i></a></p>
                </div>
                <div class="card-1">
                    <i class="fa-solid fa-image"></i>
                    <h2>Web Design</h2>
                    <span style="display: block;">Lorem ipsum dolor sit amet</span>
                    <span style="display: block;">Lorem ipsum dolor sit amet.</span>
                    <span style="display: block; margin-left: -40px;" class="dord">Lorem ipsum dolor sit.</span>
                    <p><a href="#">Read more <i class="fa-solid fa-greater-than"></i></a></p>
                </div>
                
            </div>
            <div class="row">
                <div class="button-1">
                    <button class="btn">Find More Courses</button>
                </div>
            </div>
        </div>
        <div class="down-area">
            <div class="area">
                <div class="down">
                    <img src="image/bir.png" width="150px" height="150px" alt="">
                    <span class="min">1050+ Topics</span>
                </div>
                <div class="down">
                    <img src="image/iki.png" width="150px" height="150px" alt="">
                    <span class="min">1050+ Topics</span>
                </div>
                <div class="down">
                    <img src="image/uc.png" width="150px" height="150px" alt="">
                    <span class="min">1050+ Topics</span>
                </div>
                <div class="down">
                    <img src="image/dord.png" width="150px" height="150px" alt="">
                    <span class="min">1050+ Topics</span>
                </div>
            </div>
        </div>
        <div class="sekiller">
            <div class="yazi">
                <p>Most Popular Course Of This Week</p>
                <h1>Our Popular Course</h1>
            </div>
            <div class="img-container">
                <div class="img">
                    <img src="image/popular_sub1.png.webp" class="ss" alt="">
                    <h1>Graphic Design</h1>
                    <div class="star">
                        <div class="star-1">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        </div>
                        <span>52 Review</span>
                    </div>
                    <div class="xett">
                        <div class="xett-1">
                            <i class="fa-regular fa-user"></i><span>562</span>
                            <i class="fa-regular fa-heart"></i><span>562</span>
                        </div>
                        <span>Free</span>
                    </div>
                </div>
                <div class="img">
                    <img src="image/popular_sub2.png.webp" class="ss" alt="">
                    <h1>Web Development</h1>
                    <div class="star">
                        <div class="star-1">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        </div>
                        <span>52 Review</span>
                    </div>
                    <div class="xett">
                        <div class="xett-1">
                            <i class="fa-regular fa-user"></i><span>562</span>
                            <i class="fa-regular fa-heart"></i><span>562</span>
                        </div>
                        <span>Free</span>
                    </div>
                </div>
                <div class="img">
                    <img src="image/popular_sub3.png.webp" class="ss" alt="">
                    <h1>Digital Marketing</h1>
                    <div class="star">
                        <div class="star-1">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        </div>
                        <span>52 Review</span>
                    </div>
                    <div class="xett">
                        <div class="xett-1">
                            <i class="fa-regular fa-user"></i><span>562</span>
                            <i class="fa-regular fa-heart"></i><span>562</span>
                        </div>
                        <span>Free</span>
                    </div>
                </div>
                
            </div>
            <button class="duyme">
                Find More Courses
            </button>
        </div>

        <div class="section-5">
            <div class="yazi">
                <p>More About Our Faculty</p>
                <h1>Our Best Teachers</h1>
            </div>
            <div class="sec-img">
                
                <div class="sekil-1">
                    <div class="sss">
                        <div class="last-picture">
                           <div class="icon-1"><i class="fa-brands fa-facebook-f"></i></div>
                           <div class="icon-2"><i class="fa-brands fa-twitter"></i></div>
                           <div class="icon-3"><i class="fa-solid fa-globe"></i></div>
                        </div>
                    </div>
                    <h2>Alexa Janathon</h2>
                    <p>Faculty</p>
                </div>
                <div class="sekil-1">
                    <div class="sss">
                        <div class="last-picture">
                           <div class="icon-1"><i class="fa-brands fa-facebook-f"></i></div>
                           <div class="icon-2"><i class="fa-brands fa-twitter"></i></div>
                           <div class="icon-3"><i class="fa-solid fa-globe"></i></div>
                        </div>
                    </div>
                    <h2>Alexa Janathon</h2>
                    <p>Faculty</p>
                </div>
                <div class="sekil-1">
                    <div class="sss">
                        <div class="last-picture">
                           <div class="icon-1"><i class="fa-brands fa-facebook-f"></i></div>
                           <div class="icon-2"><i class="fa-brands fa-twitter"></i></div>
                           <div class="icon-3"><i class="fa-solid fa-globe"></i></div>
                        </div>
                    </div>
                    <h2>Alexa Janathon</h2>
                    <p>Faculty</p>
                </div>
                <div class="sekil-1">
                    <div class="sss">
                        <div class="last-picture">
                           <div class="icon-1"><i class="fa-brands fa-facebook-f"></i></div>
                           <div class="icon-2"><i class="fa-brands fa-twitter"></i></div>
                           <div class="icon-3"><i class="fa-solid fa-globe"></i></div>
                        </div>
                    </div>
                    <h2>Alexa Janathon</h2>
                    <p>Faculty</p>
                </div>                
            </div>
            <div class="ww">
                <button class="view">View All Faculity</button>
            </div>
        </div>












    </div>
</body>
</html>