* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(39, 36, 36);
}
.main {
  width: 88%;
  margin-left: calc(50% - 49%);
  display: flex;
  flex-wrap: wrap;
}
.main-1 {
  width: 50%;
  padding: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: rgb(7, 7, 45);
}
.main-1 h1 {
  color: white;
}
.main-1 p {
  margin-top: 30px;
  color: white;
  font-size: 0.9em;
  line-height: 26px;
}
.lane {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.lane h2 {
  color: white;
}
.lane span {
  color: lightblue;
  text-transform: uppercase;
  font-size: 0.9em;
}
.main-2 {
  width: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(image.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.main-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(102, 8, 102, 0.516);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media screen and (max-width: 768px) {
  .main-1 {
    padding: 10px;
  }
  .main-1 h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 376px) {
  .container {
    height: 120vh;
  }
  .main-1 {
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
  .main-2 {
    width: 100%;
    height: 50vh;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }
  .main-2::after {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }
}
@media screen and (max-width: 426px) {
  .container {
    height: 120vh;
  }
  .main-1 {
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
  .lane {
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .first {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .main-2 {
    width: 100%;
    height: 50vh;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }
  .main-2::after {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }
}
